* {
  box-sizing: border-box;
}

body {
    background-color: rgb(231, 231, 231);
}

.container{
  width: 95vw;
  margin: 0 auto;
}

.responsive {
  width: 33%;
  padding: 10px;
  display: inline-block;
}

.illustration {
  width: 40vw;
  height: 36vh;
  border:rgb(231, 231, 231) solid 0.5px;
  display: block;
  margin: 0 auto;
 }

img {
    margin-left: 30%;
    width: 40%;
    height: 100%;
    /* display: inline-block; */
    object-fit:cover;
    /* margin: auto; */
    /* text-align: center; */
    border:rgb(27, 27, 27) solid 5px; 
}

.desc {
    text-align: center;
    position: absolute;
    width: 16.1vw;
    height: 5vh; 
    background-color: rgb(221, 219, 223, 0.7);
    padding-top: 9px; 
    top: 34%;
    left: 15.1%;
    font-weight: bold;
}

.two {
  top: 34.1%;
  left: 46.7%;
  height: 5%; 
  padding-top: 9px;
  width: 16.1%;
  background-color: rgb(221, 219, 223, 0.7);
}

.three {
  top: 73.5%;
  left: 46.7%;
  height: 5%; 
  padding-top: 9px;
  width: 16.1%;
  background-color: rgb(221, 219, 223, 0.7);
}

.speech-bubble {
	position: absolute;
	background: #b4bbbb;
	border-radius: .4em;
  width: 15vh;
  height: 7vh;
  top: 45%;
  left: 41%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 15px;
  transform: rotate(-10deg); 
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-left-color: #b4bbbb;
	border-right: 0;
	border-bottom: 0;
	margin-top: -14px;
	margin-right: -19px;
}

.bubble-1 {
  position: absolute;
	background: #b4bbbb;
	border-radius: .4em;
  width: 15vh;
  height: 7vh;
  top: 11%;
  right: 18%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 15px;
  transform: rotate(-35deg); 
}


.bubble-1:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-left-color: #b4bbbb;
	border-right: 0;
	border-bottom: 0;
	margin-top: -14px;
	margin-right: -19px;
}

@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }

@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }